.body {
    color: whitesmoke;
    margin-left: 25%;
    width: 75%;
    background-color: #1B1A1D;
    position: absolute;
    top: 65px;
    display: flex;
}
.content {
    width: 80%;
    height: 100%;
    padding: 30px;
}
.recommended {
    width: 16%;
    height: 100%;
    background-color: #141414;
    position: fixed;
    right: 0;
    top: 65px;
    overflow-y:scroll;
    padding-bottom: 80px;
}